body {background-color: rgb(255, 255, 255);
height: 100%;
min-height: 100%;

}
h1  {color: blue;}



#test{
back: blue;

}

/*footer*/

 .footer{
     position: fixed;
        width: 100%;
        background: #333;
        padding: 10px;
        margin: 0 ;
        color: #fff;
        text-align: center;
        clear: both;
    }
    .footer{
        bottom: 0;
        left: 0;
    }    
.love_emoji{
    color: red;
    
}
    
.a1{
background-color: green;
}
.container{
    margin-top: 20px;
    margin-bottom: 75px;
}
.myDesign{
    margin: 5px 0px 5px 0px;
}


#submit_button{
    margin: 50px 10px 0px 0px;
    font-weight: bold;
    background:#3789bf; 
    border-radius: 0px 9px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #3789bf;
    width: auto;
    
}
#reset_button{
    margin: 50px 0px 0px 10px;
    background:#ffffff; 
    border-radius: 0px 9px;
    cursor: pointer;
    color: black;
    padding: 5px 10px;
    border: 1px solid #3789bf;
    width: auto;
    
}


/*login page*/
.Absolute-Center {
  margin: auto;
  position: inherit;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 50%;
  width: 100%;
  min-width: 200px;
  max-width: 420px;
  padding: 40px;
}


#login_text{
font-size: 26px;
    text-align: center;
color: blue;
font-weight: bold;
  margin-bottom: 10px;
}
.myDesign2{
    margin: 15px 0px 15px 0px;
}